## Assignment 1

### 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
*,'hello', -87.8,-,/,+,6

**Ans**: There are a total of 4 Operators and 3 Expressions, They are:

1. '*'     --> is a Expression (Multiplication Operator)
2. "Hello" --> is a Value (String DataType)
3. -87.8   --> is a Value (Negative Integer)
4. '-'     --> is a Expression (Subtraction Operator)
5. /       --> is a Expression (Division Operator)
6. '+'     --> is a Expression (Addition Operator)
7. 6       --> is a Value (Positive Integer)

### 2. What is the difference between string and variable?
**Ans:** A **Variable** is a store of information/ values. It can store data of any kind like int, float, complex str, tuples, list and many more.  

**String** is a type of information you would store in a Variable. A String is usually words, enclosed with ""

In [1]:
# X is the Variable, and we declared it as a String, use the single = to 
# assign the text to it.

Stringx = "Welcome"

### 3. Describe three different Data Types ?

**Ans:** Three fundamental Data types in python are int, float, complex, str.

1. **int data type**: We can use int data type to represent whole numbers (integral values)
2. **float data type**: We can use float data type to represent floating point values (decimal values)
3. **complex data type:** Complex number is represented by complex class. It is specified as (real part) + (imaginary part)j.
4. **str data type**: We can use str data type to represent group of characters or a single character usually enclosed in Double quotes " " or single quotes ' '

In [2]:
# Example for int data type
int_num=4567
print(int_num, type(int_num))

# Example for float data type
flo_num=1.2e3
print(flo_num, type(flo_num))

# Example for Complex data type
com_num=10+1.5j
print(com_num, type(com_num))

# Example for str data type
com_num="neetu"
print(com_num, type(com_num))

4567 <class 'int'>
1200.0 <class 'float'>
(10+1.5j) <class 'complex'>
neetu <class 'str'>

### 4. What is an expression made up of? What do all expressions do?
**Ans:** An expression is a combination of values, variables, operators, and calls to functions. Expressions need to be evaluated. If we ask Python to print an expression, the interpreter evaluates the expression and displays the result.

In [4]:
4*5+20-40 # Is an Expression, The Python Interpreter Evaluates it to 0

0

### 5.This assignment statements, like spam = 10. What is the difference between an expression and a statement?

**Ans:** 
1. A statement in Python is used for creating variables or for displaying values. The expression in Python produces some value or result after being interpreted by the Python interpreter.
2. A statement in Python is not evaluated for some results. An expression in Python is evaluated for some results.
3. The execution of a statement changes the state of the variable. The expression evaluation does not result in any state change.
4. A statement can be an expression. An expression is not a statement.

In [7]:
x = 25          # a statement
x = x + 10      # an expression

print(x)

35

### 6.After running the following code, what does the variable bacon contain?

bacon = 22

bacon + 1

**Ans:**

In [8]:
bacon = 22
bacon

22

In [9]:
bacon + 1

23

### 7. What should the values of the following two terms be?
'spam' + 'spamspam'

'spam' * 3

**Ans:**

In [10]:
'spam' + 'spamspam'

'spamspamspam'

In [11]:
'spam'* 3

'spamspamspam'

Addition operator of string Multiplication operator of string and integer.

### Q8 Why is eggs a valid variable name while 100 is invalid?

**Ans:** To define are variable name there are some rules defined
1. Variable Name should start with a letter or an underscore
2. It shouldn`t start with a numbers
3. Variable Name can contain aplhabet a-z,A-Z and numbers from 0-9 
   An underscore can also be used

4. Python VariableName are case sensitive in nature
   For Example:
        abc,  Abc, ABC
        All these are 3 different variable names

Therefore, egg is a valid variable name and 100 is invalid variable name

### Q9 What three functions can be used to get the integer, floating-point number, or string version of a value?

**Ans:**
    
    int()
    float()
    str()

These are the three functions which is used to get Integer, FLoating-Point Number and String Version of a Value

Example:

In [12]:
x = 10

x_int = int(x)
print(f'Integer Value: {x_int}')
print(f'DataType: {type(x_int)} \n')

x_float = float(x)
print(f'Float Value: {x_float}')
print(f'DataType: {type(x_float)}\n')

x_string = str(x)
print(f'Integer Value: {x_string}')
print(f'DataType: {type(x_string)}')

Integer Value: 10
DataType: <class 'int'>

Float Value: 10.0
DataType: <class 'float'>

Integer Value: 10
DataType: <class 'str'>

### Q10 Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + 'burritos.'

In [13]:
'I have eaten ' + 99 + 'burritos.'

TypeError: can only concatenate str (not "int") to str

This is because this is a str int str concatenation
AND
This is not possible because the data type of concatenation is different

Concatenation of str str is possible
COncatenation of int int is possible

This can be fixed when we convert the integer type to string datatype

In [14]:
# Method 1
'I have eaten ' + str(99) + ' burritos.'

# Method 2
'I have eaten ' + "99" + ' burritos.'

'I have eaten 99 burritos.'